[Desktop Entry]
Encoding=UTF-8
Name=LPub
GenericName=LDraw Building Instruction Editor
Comment=Building Instruction Editor
Exec=lpub
Icon=lpub
Terminal=false
Type=Application
MimeType=application/x-ldraw;application/x-multipart-ldraw;
Categories=Graphics;2DGraphics;3DGraphics;Viewer;
